#app {
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
}

.uploadImg {
    margin-top: 20px;
    width: 360px;

    img,
    video {
        display: block;
        width: 100%;
    }
}

.progress {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 10px;
    width: 360px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightcyan;
}